// Top container which wraps everything
.sm-semantic {

	font-family: Arial, sans-serif;
	font-size:12px;
	color: black;

	// Linkification popup
	&.linkification {
		width: 250px;

		.linkification-result {
			padding:5px;

			&:hover, &.selected {
				background-color: #888;
			}

			.description {
				font-size:9px;
			}
		}
		input {
			width:195px;
		}
	}

	// Enrichment widget
	&.enrichmentWidget {
		display:none;
		border: 1px solid #ccc;
		overflow:auto;

		.rdf-annotation {
			background:yellow;
		}
		.rdf-annotation[about] {
			background:greenyellow;
		}

		.rdf-annotation.rdf-annotation-nolinkification {
			background:red;
		}
	}
}