.sm-semantic {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black; }
  .sm-semantic.linkification {
    width: 250px; }
    .sm-semantic.linkification .linkification-result {
      padding: 5px; }
      .sm-semantic.linkification .linkification-result:hover, .sm-semantic.linkification .linkification-result.selected {
        background-color: #888; }
      .sm-semantic.linkification .linkification-result .description {
        font-size: 9px; }
    .sm-semantic.linkification input {
      width: 195px; }
  .sm-semantic.enrichmentWidget {
    display: none;
    border: 1px solid #ccc;
    overflow: auto; }
    .sm-semantic.enrichmentWidget .rdf-annotation {
      background: yellow; }
    .sm-semantic.enrichmentWidget .rdf-annotation[about] {
      background: greenyellow; }
    .sm-semantic.enrichmentWidget .rdf-annotation.rdf-annotation-nolinkification {
      background: red; }
