// Top container which wraps everything
.sm-semantic {

	font-family: Arial, sans-serif;
	font-size:12px;
	color: black;

	// Linkification popup
	&.linkification {
		width: 250px;

		.linkification-result {
			padding:5px;

			&:hover, &.selected {
				background-color: #888;
			}

			.description {
				font-size:9px;
			}
		}
		input {
			width:195px;
		}
	}

	&.externalReferenceWrapperOuter {
		-webkit-perspective: 1000;
		position: relative;

		z-index:1;
		textarea {
			-webkit-backface-visibility:hidden;
			-webkit-transition: all 1.0s linear;
			opacity: 1;
		}
	}

	&.externalReferenceWrapperOuter.foo textarea {
		opacity: 0;
	}

	&.externalReferenceWrapperOuter.foo .externalReferenceWrapper {
			-webkit-transition: all 1.0s linear;
			-webkit-transform: rotateY(180deg);
	}

	&.externalReferenceWrapper {
		position:relative;

		-webkit-transform-style: preserve-3d;
		-webkit-transition: all 1.0s linear;
	}

	// Enrichment widget
	&.enrichmentWidget {
		position:absolute;
		left:0;
		top:0;
		-webkit-backface-visibility:hidden;
		-webkit-transform: rotateY(180deg);

		border: 1px solid #ccc;
		overflow:auto;

		.rdf-annotation {
			background:yellow;
		}
		.rdf-annotation[about] {
			background:greenyellow;
		}

		.rdf-annotation.rdf-annotation-nolinkification {
			background:red;
		}
	}

	&.enrichmentButton {
		border: 1px solid #ccc;
		width:120px;
		text-align:center;
		background: #ccc;
		font-size: 18px;
		font-weight: bold;
		color: black;
		cursor:pointer;

		&:hover {
			background: #eee;
			color: #333;
		}
		position:relative;
		height:45px;
		z-index:10000;

		.frontside, .backside {
			position:absolute;
			top: 10px;
			left: 0px;
			width: 100%;
			height: 40px;
		}
		.backside {
			-webkit-transform: rotateY(180deg);
		}
	}

	.semantifierCurrentlyRunning {
		.frontside, .backside {
			background-image:url(ajax-loader.gif);
			background-repeat:no-repeat;
			background-position: 5px 0;
		}
	}

	&.externalReferenceWrapperOuter.foo .enrichmentButton .frontside {
		opacity: 0;
	}

	&.externalReferenceWrapperOuter .enrichmentButton .backside {
		opacity: 0;
	}

	&.externalReferenceWrapperOuter.foo .enrichmentButton .backside {
		opacity: 1;
	}

}