<div class="externalReference-placeholder">SomeText</div>
<f:if condition="{includeJs}">
	<style>
			/* simple css-based tooltip */
.externalReference-placeholder {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:250px;
	min-height:100px;
	display:none;
	color:#fff;
	text-align:left;
	overflow:hidden;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

.externalReference-placeholder div:hover {
	background-color:#444;
}
.externalReference-placeholder .description {
	color: #ccc;
	font-size:8px;
}
		</style>
	<script>
			widget_serverside_endpoint = '{f:uri.widget(action:"autocomplete", ajax: 1)}';
				<![CDATA[
			jQuery(document).ready(function() {
				jQuery(".externalReference-placeholder").prev().tooltip({
					// place tooltip on the right edge
					position: "center right",
					// a little tweaking of the position
					//offset: [-2, 10],
					// use the built-in fadeIn/fadeOut effect
					effect: "fade",
					// custom opacity setting
					opacity: 0.7,
					relative: true,
					delay: 1000000
					/*events: {
						def:     "mouseenter,mouseleave",
						input:   "focus,blur",
						widget:  "focus mouseenter,blur mouseleave",
						tooltip: "mouseenter,mouseleave"
					}*/
				});

				var executeServerSideRequest = function(inputElement, popup) {
					jQuery.post(widget_serverside_endpoint, {
						search: inputElement.val()
					}, function(results) {
						results = eval(results);
						var html = "";
						results.forEach(function(result) {
							var description = result.description;
							if (description.length > 120) {
								description = description.substr(0, 120) + '...';
							}
							html += '<div data-uri="' + result.uri + '">';
							html += '<b>' + result.label + '</b>';
							html += '<div class="description">' + description + '</div>';
							html += '</div>';
						});

						popup.html(html);
					});
				};
				jQuery(".externalReference-placeholder").each(function(index, element) {
					var inputElement = jQuery(element).prev();
					var timeoutId = null;
					inputElement.keydown(function() {
						window.clearTimeout(timeoutId);

						timeoutId = window.setTimeout(function() {
							executeServerSideRequest(inputElement, jQuery(element));
						}, 500)

					})
				})
			});
		]]></script>
</f:if>