<div class="semantic-rdf-reference">
	<img src="{f:uri.resource(path:'link.png')}" />
	<div class="semantic-rdf-tooltip"></div>

	<div class="semantic-rdf-reference-searchResults"></div>
	<input class="semantic-rdf-reference-metadata" type="hidden" name="" value="{metadata.value}" />
</div>
<f:if condition="{includeJs}">
<style>

/* Top Container */
.semantic-rdf-reference {
	display:inline;
}
/* Tooltip showing the RDF link */
.semantic-rdf-tooltip {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:5px solid #70706C;
	color:white;
	background:#70706C;
	min-width:300px;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	display:none;
}

.semantic-rdf-tooltip:before {
	content:"";
	position:absolute;
    border-style:solid;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;

	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #70706C;
}
.semantic-rdf-reference-searchResults {
	display:none;
	background-color: #000;
	padding: 0;
	width:250px;
	min-height: 100px;
	text-align:left;
	overflow: hidden;
	font-size:12px;
	color: white;
}
.semantic-rdf-reference-searchResults .result {
	padding:5px;
}
.semantic-rdf-reference-searchResults .result:hover {
	background-color: #444;
}
.semantic-rdf-reference-searchResults .description {
	font-size:9px;
}
</style>
<script>
widget_serverside_endpoint = '{f:uri.widget(action:"autocomplete", ajax: 1)}';
//<![CDATA[
jQuery(document).ready(function() {
	jQuery(".semantic-rdf-reference").each(function(index, element) {
		var tooltipImg = jQuery('img', element),
			tooltip = jQuery('.semantic-rdf-tooltip', element),
			searchResults = jQuery('.semantic-rdf-reference-searchResults', element),
			metadataField = jQuery('.semantic-rdf-reference-metadata', element),
			inputElement = jQuery(element).prev();

		/* Tooltip Image */
		tooltipImg.tooltip({
			relative: true,
			position: "center right",
			offset: [-15, 25],
			effect: 'fade',
			onBeforeShow: function() {
				if (metadataField.val()) {
					this.getTip().html(metadataField.val() + '<a href="#">Delete</a>');
				} else {
					this.getTip().html('No metadata attached');
				}
				return true;
			}
		});

		inputElement.tooltip({
			tip: searchResults,
			position: "center right",
			relative: true,
			delay: 500,
			effect: 'fade',
			onBeforeShow: function() {
				if (this.getTip().data('results')) {
					return true;
				}
				return false;
			}
		});

		var timeoutId = null;
		var request = null;
		var lastValue = null;
		var executeServerSideRequest = function(inputElement, popup) {
			if (inputElement.val() === lastValue) return;
			lastValue = inputElement.val();
			request = jQuery.post(widget_serverside_endpoint, {
					search: inputElement.val()
				}, function(results) {
					request = null;
					results = eval(results);
					var html = "";
					results.forEach(function(result) {
						var description = result.description;
						if (description.length > 120) {
							description = description.substr(0, 120) + '...';
						}
						html += '<div class="result" data-uri="' + result.uri + '">';
						html += '<b>' + result.label + '</b>';
						html += '<div class="description">' + description + '</div>';
						html += '</div>';
					});
					searchResults.html(html);
					searchResults.data('results', true);
					inputElement.data('tooltip').show();
				});
			};

		inputElement.keyup(function() {
			window.clearTimeout(timeoutId);
			if (request) request.abort();

			timeoutId = window.setTimeout(function() {
				executeServerSideRequest(inputElement, jQuery(element));
			}, 500);
		});

		jQuery(".result", searchResults).live('click', function() {
			var clickedUri = jQuery(this).attr('data-uri');
			var clickedLabel = jQuery('b', this).text();

			inputElement.val(clickedLabel);
			metadataField.val(clickedUri);
			metadataField.trigger('change');
			var nameOfInputElement = inputElement.attr('name');
			metadataField.attr('name',nameOfInputElement.substring(0, nameOfInputElement.length - 1) + '_metadata]');
		});

		// Click of "Delete" link
		jQuery('a', tooltip).live('click', function(e) {
			e.preventDefault();
			metadataField.val('');
			metadataField.trigger('change');
			var nameOfInputElement = inputElement.attr('name');
			metadataField.attr('name',nameOfInputElement.substring(0, nameOfInputElement.length - 1) + '_metadata]');
			tooltip.html('No metadata attached');
		});

		var refreshTooltipImg = function() {
			if (metadataField.val() == '') {
				tooltipImg.css('opacity', 0.6);
			} else {
				tooltipImg.css('opacity', 1);
			}
		};
		metadataField.change(refreshTooltipImg);

		refreshTooltipImg();
	});
});
//]]></script>
</f:if>