SandstormMedia:
  Semantic:
    classSchemaProviders: ['SandstormMedia\Semantic\Core\Schema\ClassSchemaProvider\AnnotationProvider', 'SandstormMedia\Semantic\Core\Schema\ClassSchemaProvider\YamlProvider', 'SandstormMedia\Semantic\Core\Schema\ClassSchemaProvider\DefaultProvider']
    4Store:
      baseUri: 'http://localhost:8080/'
    baseUri: 'http://blog.local/'
    prefixes:
      sioc: 'http://rdfs.org/sioc/ns#'
      dcterms: 'http://purl.org/dc/terms/'
      sioctypes: 'http://rdfs.org/sioc/types#'
      foaf: 'http://xmlns.com/foaf/0.1/'
    PropertyMapping:
      TYPO3\Blog\Domain\Model\Post:
        type: sioctypes:BlogPost
        properties:
          content:
            type: sioc:content
            textEnricher: true
          title:
            type: dcterms:title
          date:
            type: dcterms:created
          relatedPosts:
            type: sioc:related_to
          author:
            type: foaf:maker
        #
        #  http://rdfs.org/sioc/ns#avatar
        #  http://rdfs.org/sioc/ns#creator_of
        #  http://rdfs.org/sioc/ns#related to
    rdfa:
      enable: true