Semantic:
  namespaces:
    sioc: 'http://rdfs.org/sioc/ns#'
    dcterms: 'http://purl.org/dc/terms/'
    sioctypes: 'http://rdfs.org/sioc/types#'
  PropertyMapping:
    F3\Blog\Domain\Model\Post:
      type: sioctypes:BlogPost
      properties:
        content:
          type: sioc:content
        title:
          type: dcterms:title
        date:
          type: dcterms:created
        relatedPosts:
          type: sioc:related_to
      #
      #  http://rdfs.org/sioc/ns#avatar
      #  http://rdfs.org/sioc/ns#creator_of
      #  http://rdfs.org/sioc/ns#related to
  rdfa:
    enable: true
